.header img {
    width: 100vw;
    height: 20vh;
    object-fit: cover;
    /* object-fit: cover propeerty makes sure, that the image is not streched */
}

.section-main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    width: 100vw;
}

.section-main p {
    font-size: 1.5 rem;
    font-weight: bold;
    color: rgb (195, 195, 195);
    cursor: pointer;
}
.section-main p:hover {
    color: black
}

.section-main-follow {
    padding: 1rem;
    background-color: lightblue;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

.section-main-follow:hover {
    background-color: rgb(206,231,239);
    color: black
}

.section-wrapper {
    padding-top: 5rem;
    display: flex;
    justify-content: space-around;
    align-items: self-start;
    height: 80vh;
    width: 100vw;
}

.section-left img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

.section-left-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.section-left-wrapper:first-child {
    font-weight: 700;
    font-size: 1.5rem;
    letter-spacing: 2px;
}

.section-left-wrapper p {

}

.section-right-top {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 5vh;
    width: 100vw;
}

.section-right-top p:hover {
    color: black;
}